.btn {
        background-color: $main-color;
        width: 230px;
        height: 57px;
        border-radius: 23px;
        border: none;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        &:hover {
            text-decoration-line: underline;
        }
    &_mini {
        width: 160px;
        height: 45px;
        font-size: 12px;
        line-height: 22px;
    }
    ._consultation {
        width: 180px;
        height: 45px;
        font-weight: 400;
        font-size: 12px;
    }
    }