.title {
    &_fz21 {
        font-weight: 300;
        font-size: 21px;
        line-height: 24px;
        text-align: center;
        color: #2E2E2E;
    }
    &_fz26 {
        font-weight: 700;
        font-size: 26px;
        line-height: 23px;
        text-align: center;
        text-transform: uppercase;
        color: #2E2E2E;
    }
    &_fz28 {
        padding-top: 60px;
        font-weight: 400;
        font-size: 28px;
        line-height: 23px;
        text-align: center;
        color: #3A3A3A;
    }
    &_divider {
        margin: 19px auto 19px auto;
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 148px;
        height: 2px;
        background-color: $main-color;
    }
}